<!DOCTYPE html>
<html>
    
<head>
    <title>Vélo épicurien</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div style="margin:100px;">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <a class="navbar-brand" href="/">Vélo épicurien</a>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/heartbeat">heartbeat</a>
                    </li>
                    <li>
                        <a href="/extracted_data">extracted_data</a>
                    </li>
                    <li>
                        <a href="/transformed_data">transformed_data</a>
                    </li>
                    <li>
                        <a href="/readme">README</a>
                    </li>
                    <li>
                        <a href="/parcour">parcour</a>
                    </li>
                    <li>
                        <a href="/starting_point">starting_point</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron" style="padding:40px;">
            <h1>Hello, world!</h1>
            <p>Please wait approximatively 1 min for the neo4j database to be populate.
                You can see when it is done in the console, a message will be display.</p>
        </div>
    </div>
</body>

</html