<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Vélo épicurien</title>
    <link rel="icon" href="images/favicon.png">
</head>
<body>
    <form>
        <button formaction="/heartbeat">Go to heartbeat !</button>
        <button formaction='/extracted_data'>Go to extracted_data !</button>
        <button formaction="/transformed_data">Go to transformed_data !</button>
    </form>
    Please wait approximatively 1 min for the neo4j database to be populate.
    You can see when it is done in the console, a message will be display.
</body>
</html>